TELEGRAM_BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
TELEGRAM_BOT_USERNAME=MyStreamBot
CAMERA_1_NAME=Camera 1
CAMERA_1_RTSP_URL=******192.168.1.10:554/stream
CAMERA_1_CHAT_ID=-1001234567890
FFMPEG_RESTART_DELAY_SECONDS=5
